{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.us-east.cf.cloud.ibm.com",
      "Org": "Schreck Engineering",
      "Space": "Happy Space"
    },
    "Name": "movies-reviews-database-iSe",
    "Instrumentation": {
      "domain": "us-east.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}